.picture {
    width: 75px;
    height: 75px;
}

.inline {
    display: inline-block;
}

ul {
    list-style-type: none;
  }

.text {
    float: left;
}

#contact-list-item:hover {
    background-color: rgba($color: #575757, $alpha: .3);
    cursor: pointer;
}

#contact-list-item:active {
    background-color: rgba($color: #575757, $alpha: .1);
}