.picture {
    width: 75px;
    height: 75px;
}

.contacts {
    margin-top: 50px;
    margin-right: 10px;
    width: 350px;
    float: left;
}

.inline {
    display: inline-block;
}

ul {
    list-style-type: none;
  }

.text {
    float: left;
}