.element1{
    float: left;
}

.element2{
    float: right;
}

.message{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 1em;
    padding-right: 10em;
}

#btn-send-message {
    position: absolute;
    bottom: 0;
    right: 0;
}

.chatbox {
    min-height: 85vh;
    max-height: 85vh;
}

.picture {
    width: 35px;
    height: 35px;
}