<!--Panel-->
<div class="card chatbox" *ngIf="auth.user | async as user">
    <h3 class="card-header primary-color white-text">Chat: {{selectedUser?.displayName}}</h3>
    <div class="card-body">
        <ul id="message-list" *ngIf="selectedUserMessages != null">
            <li *ngFor="let message of selectedUserMessages"
            [class.speech-bubble-right]="message.senderId == currentUser.uid"
            [class.speech-bubble-left]="message.senderId != currentUser.uid">
                <img [src]="getImagePath(message)">
            </li>
            <br><br>
        </ul>
    </div>
    <div class="md-form">
        <div class="row">
            <div class="col-8 pl-5 pr-4">
                <input [(ngModel)]="message" mdbActive type="text" id="message" class="form-control">
                <label class="pl-5" for="message">Message</label>
            </div>
            <div class="col-2">
                <label id="btn-addfile" class="btn btn-sm btn-primary waves-light btn-file">
                    Browse
                    <input type="file" style="display: none;" (change)="selectSingleFile($event)">
                </label>
            </div>
            <div class="col-2">
                <button id="btn-send-message" type="button" class="btn btn-sm mt-2 ml-1 btn-primary waves-light" (click)="postMessage()" mdbRippleRadius>Send</button>
            </div>
        </div>
    </div>
</div>
<!--/.Panel-->