<!--Panel-->
<div class="card chatbox" *ngIf="auth.user | async as user">
    <h3 class="card-header primary-color white-text">Chat</h3>
    <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="md-form message">
        <input [(ngModel)]="message" mdbActive type="text" id="message" class="form-control element1">
        <label for="message" class="element1">Message</label>
        <button id="btn-send-message" type="button" class="btn btn-primary waves-light element2" (click)="addMessage(user.email)" mdbRippleRadius>Send</button>
    </div>
</div>
<!--/.Panel-->